* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(images/jaw.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
    font-weight: bold;
    background-attachment:fixed ;
}

.logo h1 {
    color: rgb(236, 15, 15);
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
    letter-spacing: 3px;
    margin: 10px 0;
}

.main {
    width: 85%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    display: inline-block;
    padding: 0px 15px;
}

.navbar ul li:after {
    content: "";
    background: #f44336;
    height: 3px;
    width: 0;
    margin: 3px auto;
    display: block;
    transition: 0.5s ease;
}

.navbar ul li:hover:after {
    width: 100%;
}

.navbar ul .active:after {
    content: "";
    background: #f44336;
    height: 3px;
    width: 100%;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.order {
    position: absolute;
    top: 48%;
    /* bottom: 50%; */
    left: 45%;
}

.navbar i {
    display: none;
}

#rem {
    display: none;
}

.button {
    position: absolute;
    top: 40%;
    left: 4%;
}

.button p {
    width: 30%;
    color: rgb(240, 229, 229);
    margin: 20px 0px;
    font-size: 25px;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
}

.btn {
    padding: 10px 38px;
    background: transparent;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 18px;
    border: 1px solid rgb(212, 128, 128);
    font-family: 500;
    margin-top: 30px !important;
    transition: 0.5s ease;

}

.button button:hover:after {
    content: "";
    background: #f44336;
    height: 3px;
    width: 100%;
    margin: 3px auto;
    display: block;
    transition: 0.5s ease;
}
.button .btn:hover {
    transform: scale(0.9);
}


/* LOCATION */
.color{
    background-color: rgb(245, 229, 229);;
}

.location {
    width: 100%;
    text-align: center;
   
}

iframe {
    width: 82%;
    height: 300px;
    margin: -60px 0px;
    filter: invert(100%);
    position: relative;
}


/* OUR MENU */

.our-menu {
    width: 85%;
    height: 480px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 30px 0px;
}

.side-1 h2 {
    margin: 20px auto;
    display: block;
    width: 100%;
    font-family: 'Great Vibes', cursive;
    font-size: 50px !important;
}

.side-1 p {
    width: 80%;
    margin: 10px 0px;
    font-family: 'Fredoka', sans-serif;
    text-align: left;
}

.side-1 .btn:hover {
    transform: scale(0.9);
}

.side-2 {
    width: 85%;
    display: flex;
    transition: 0.6s ease;
}

.side-2 p {
    font-size: 22px;
    font-weight: 100px;
    font-family: 'Fredoka', sans-serif;
}

.side-2:hover {
    transform: scale(0.9);
}


/* Testimonial */

.testimonial {
    width: 85%;
    margin: auto;
    padding: 40px 0px;
    text-align: center;
    background-color: black;
}

.testimonial h1 {
    font-size: 35px;
    font-weight: 600;
}

.testimonial p {
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    line-height: 20px;
    color: rgb(231, 224, 224);
}

.testimonial-col {
    /* flex-basis: 44%; */
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    display: inline-block;
    background: transparent;
    cursor: pointer;
    padding: 20px;
}

.testimonial-col img {
    height: 80px;
    margin-left: 5px;
    border-radius: 50%;
    margin-right: 30px;
    border: 1px solid red;
}

.testimonial-col p {
    padding: 0;
    text-align: left;
    width: 40%;
}

.testimonial-col h3 {
    margin-top: 14px;
    text-align: left;
}

.testimonial-col .fa,
.far {
    margin-top: 15px;
    color: #f44336;
}

.testi {
    width: 100%;
    background-color: black;
}

.img {
    margin: 0px 10px;
}


/* Pic Section */

.heading{
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
    margin: 20px 0px 20px 0px;
    color: rgb(236, 15, 15);
}

.home .content h3{
    font-size: 5rem;
    color:#333;
  }
  
  .home .content p{
    font-size: 1.7rem;
    color:#666;
    padding:1rem 0;
  }
  
  .speciality .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:0.5rem;
    margin-bottom: 10px;
    margin-left: 17px;
    margin-right: 17px;
  }
  
  .speciality .box-container .box{
    flex:1 1 25rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.3);
    cursor: pointer;
    border-radius: .5rem;
  }
  
  .speciality .box-container .box .image{
    height:100%;
    width:100%;
    object-fit: cover;
    position: absolute;
    top:-100%; left:0;
  }
  
  .speciality .box-container .box .content{
    text-align: center;
    background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),#fff;
    padding:2rem;
    transition: 0.6s ease;
    height: 70%;
  }
  
  .speciality .box-container .box .content img{
    margin:0.5rem 0;
  }
  
  .speciality .box-container .box .content h3{
    font-size: 1.5rem;
    color:#333;
  }
  
  .speciality .box-container .box .content p{
    font-size: 1.0rem;
    color:#666;
    padding:0.3rem 0;
  }
  
  .speciality .box-container .box:hover .image{
    top:0;
  }
  
  .speciality .box-container .box:hover .content{
    transform: translateY(100%);
  }
  



/* Footer */

.container {
    max-width: 1500px;
    max-height: 400px;
    margin: auto;
    padding: 28px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: black;
    padding: 30px 0;
    /* height: 100vh; */
}

.footer-col {
    width: 250px;
    padding: 0 35px;
}

.footer-col h2 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    margin-right: 40px;
}

.footer-col h2:before {
    content: '';
    position: absolute;
    left: 10;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 100px;
}

.footer-col ul li:not(last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    background-color: black;
    color: white;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
}

.footer-col .social-links a:hover {
    background-color: white;
    color: black;
}


/* RESPONSIVE */

@media(max-width: 1100px) {
    .logo h1 {
        font-size: 39px;
    }
    .navbar ul li {
        display: block;
    }
    .navbar {
        position: absolute;
        background: #3d3b3b;
        height: 100vh;
        width: 0px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        transition: 1s;
        overflow-x: hidden;
    }
    .navbar i {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .navbar ul li {
        padding: 15px;
    }
    .navbar ul li:hover:after {
        width: 0%;
        margin: 3px 0px;
    }
    .navbar ul .active:after {
        content: "";
        background: #f44336;
        height: 3px;
        width: 30%;
        margin: 3px 0px;
    }
    #rem {
        display: block;
        color: white;
        font-size: 24px;
        
    }
    .button {
        position: absolute;
        top: 30%;
        left: 4%;
    }
    .button p {
        width: 70%;
    }
    #our-mobile {
        padding: 50px 0px 460px 0px;
    }
    .our-menu {
        width: 85%;
        margin: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px 0px;
    }
    .side-2 {
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .img {
        margin: 12px 0px;
        text-align: left;
    }
    .side-1 p {
        width: 60%;
        margin: 10px auto;
        text-align: center;
    }
    .side-1 h2 {
        text-align: center;
    }
    #cnt {
        display: block;
        margin: 10px auto !important;
        /* width: 10px; */
    }
    .testimonial-col p {
        padding: 0;
        text-align: left;
        width: 70%;
        margin: 10px 0px;
    }
    .img-sec .img-box {
        display: block;
        margin: 12px auto;
    }
    .img-box {
        margin-top: 40px;
        margin-left: 50px;
        width: 92%;
        display: block;
        transition: 0.3s;
    }
    .pic-section {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(images/jaw.png);
        margin-top: -17px;
        background-attachment: fixed;
    }
    .footer {
        background-color: black;
        padding: 0px 0 100px 0;
        /* height: 100vh; */
    }
}